{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/nucleo/css/nucleo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
    <!-- Argon CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/argon.css' %}" type="text/css">
</head>
<body>

    <div class="row mt-5">
       <div class="col-6 offset-3">
            <form type="form" action="{% url 'order' %}" method="post">
                {% csrf_token %}
                {{ forms.book | as_crispy_field  }}
                {{ forms.amount | as_crispy_field }}
                <button class="btn btn-info" type="submit">Order</button>
                <a href="{% url 'home' %}" class="btn btn-danger" type="reset">Cancel</a>
            </form>
       </div>
    </div>        

</body>
</html>