{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/nucleo/css/nucleo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
    <!-- Argon CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/argon.css' %}" type="text/css">
</head>
<body>

    <div class="container my-5">
        <div class="row">
            <div class="col">
                <div class="form">
                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        {{ forms.username | as_crispy_field }}
                        {{ forms.first_name | as_crispy_field }}
                        {{ forms.last_name | as_crispy_field }}
                        {{ forms.email | as_crispy_field }}
                        {{ forms.phone_number | as_crispy_field }}
                        {{ forms.password1 | as_crispy_field }}
                        {{ forms.password2 | as_crispy_field }}


                        <button class="btn btn-instagram" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>